.experience-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(1,1,1);
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  color: white;
}

h2{
  align-self: center;
  margin-bottom: 10px;
  font-size: 26px;

}

.job{
  margin-bottom: 10px;

}

h3{
  font-size: 20px;
  margin-bottom: 10px;
}

p{
  margin: 10px;
}
