.skills-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(1,1,1);
  padding: 10px;
  border-radius: 5px;
  width: auto;
  color: white;
}

h2{
  margin: 5px;
}

ul{
  width: 90%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px 10px;
  margin: 0;
  padding: 0;
}

li{
  border: 1px solid lightgray;
  padding: 10px;
  text-align: center;
  place-content: center;
}

.progress-bar{
  height: 10px;
  background-color: white;
  overflow: hidden;
  margin-top: 5px;
}

.progress{
  height: 100%;
  background-color: #8c4949;
}
