<div class="main-body">
  <!--
<div *ngIf="selectedItem" class="selected-item">
  <h2>"{{selectedItem?.name}}" details</h2>
  <div>
    <label class="name-label">name:
      <input [(ngModel)]="selectedItem.name" placeholder="name">
    </label>
  </div>

  <div>
    <label class="status-label">status:
      <select [(ngModel)]="selectedItem.status">
        <option [value]="TaskStatus.Active">Active</option>
        <option [value]="TaskStatus.Done">Done</option>
      </select>
    </label>
  </div>

  <button (click)="RemoveSelectedItem()" class="remove-button">Remove</button>
</div> -->

<h2>My ToDo List</h2>

  <div class="filter">
    <button (click)="SetFilter('all')"  [class.active-filter]="filter === 'all'">All</button>
    <button (click)="SetFilter(TaskStatus.Active)" [class.active-filter]="filter ==='active'">Active</button>
    <button (click)="SetFilter(TaskStatus.Done)" [class.active-filter]="filter === 'done'">Done</button>
  </div>

<ul class="items">
  <li *ngFor="let item of FilterItems()"  (dblclick)="OnDoubleClick(item)" [class.completed]="item.status === TaskStatus.Done" [class.selected]="item === selectedItem">
      <span class="span-selected" *ngIf="item !== editingItem" (click)="OnSelected(item, $event)">
    <!--{{item.id}} :--> {{item.name}}
      </span>

    <input *ngIf="item === editingItem" [(ngModel)]="item.name" (blur)="StopEdit()" (keyup.enter)="StopEdit()" autofocus>

    <button class="edit-button" (click)="StartEdit(item)">✏️</button>
  </li>
</ul>
<div class="buttons">
  <button (click)="AddItem()" class="add-button">Add Item</button>
  <button (click)="RemoveSelectedItem()" class="remove-button" [disabled]="!selectedItem">Remove</button>
</div>

</div>



<!--
<div *ngIf="items.length>0">
  {{items.length}} {{items.length == 1 ? 'item' : 'items}}
</div>

<div [ngSwitch]="car">
  <p *ngSwitchCase="'Audi'">Это Ауди</p>
  <p *ngSwitchCase="'BMW'">Это БМВ></p>
  <p *ngSwitchDefault>Это неизвестная машина</p>
</div>

-->
