.card{

  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  transition: border-color 0.5s ease, background-color 0.5s ease;


}

p{
  text-align: end;
  margin: 5px;
}

.profile-photo{
  width: 250px;
  height: 250px;
  align-self: center;
  margin: 10px;
  border-radius: 5px;
}

.highlight{
  background-color: #0094aa;
  border-color: #083840;
}

.divider{
  border-top: 3px dotted #bbb;
}

.flex-class{
  display: flex;
  flex-direction: column;
}

.name-personal{
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.flex-column p {
  text-align: start;
  font-size: 20px;
}
