.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.title{
  font-size: 36px;
  margin-bottom: 10px;
  grid-column: span 2;
  text-align: center;
}

.hide{
  visibility: hidden;
}

app-personal-info{
  align-self: center;
}
