<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<main class="main">
  <div style="text-align: center; margin-top: 50px">
    <h1>Цитаты Билла Гейтса</h1>
    <img src="assets/image/gates.jpg" alt="фотка билла гейтса" style="border-radius: 12px; box-shadow: 0 4px 10px black"
         height="384" width="620">

    <p style="max-width: 600px; margin: 20px auto; font-size: 16px">Американский предприниматель и общественный деятель, филантроп, один из создателей (совместно с Полом Алленом) и бывший крупнейший акционер компании Microsoft. До июня 2008 года являлся руководителем компании; после ухода с поста остался в должности её неисполнительного председателя совета директоров</p>

    <ul style="list-style-type: ' - '; text-align: left; max-width: 600px; margin: 0 auto">
      <li *ngFor ="let quote of quotes" style="margin-bottom: 15px">
        {{quote}}
      </li>
    </ul>

    <h2 style="margin-top: 50px">Доп. ресурсы</h2>
    <ul style="text-align: left; max-width: 600px; margin: 0 auto; font-size: 16px;">
      <li>
        <a href="https://ru.wikipedia.org/wiki/Гейтс,_Билл" target="_blank">
          Вики про Билла
        </a>

      </li>
      <li>
        <a href="https://www.gatesnotes.com">
          Ресурс GatesNotes
        </a>

      </li>
      <li>
        <a href="https://www.forbes.ru/profile/394617-bill-geyts-bill-gates">
          Forbes про Билла
        </a>

      </li>
      <li>
        <a href="https://www.tadviser.ru/index.php/Персона:Гейтс_Билл_(Bill_Gates)">
          TAdviser про Билла
        </a>
      </li>
    </ul>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
