.filter{
  display: flex;
  flex-direction: row;
  gap: 10px
}

.filter button{
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #84c556;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.filter button.active-filter{
  background-color: #ac6666;
}


.edit-button{
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.edit-button:hover{
  background-color: mediumseagreen;
  transition: background-color 0.2s;
}

.remove-button:disabled{
  opacity: 50%;
}

.items {
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.items li {
  display: flex;
  padding: 10px;
  margin: 5px 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid lightgray;


}

.items li.selected {
  background-color: #5a544e;
  color: #eee;
}

.items li.completed {
  background-color: #589f4b;
  color: #fff;
}


.selected-item{
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 15px
}

.selected-item h2{
  align-self: center;
}

.remove-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #0056b3;
}


.main-body{
  background-color: white;
  padding: 0 20px;
  margin-top: 20px;
  width: 350px;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center ;
  padding-bottom: 20px;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
