<div class="main-body">
<div *ngIf="selectedItem" class="selected-item">
  <h2>"{{selectedItem?.name}}" details</h2>
  <div>
    <label class="name-label">name:
      <input [(ngModel)]="selectedItem.name" placeholder="name">
    </label>
  </div>

  <div>
    <label class="status-label">status:
      <select [(ngModel)]="selectedItem.status">
        <option [value]="TaskStatus.Active">Active</option>
        <option [value]="TaskStatus.Done">Done</option>
      </select>
    </label>
  </div>

  <button (click)="RemoveSelectedItem()" class="remove-button">Remove</button>
</div>

<h2>My ToDo List</h2>

  <div class="filter">
    <button (click)="SetFilter('all')"  [class.active]="filter === 'all'">All</button>
    <button (click)="SetFilter(TaskStatus.Active)" [class.active]="filter ==='active'">Active</button>
    <button (click)="SetFilter(TaskStatus.Done)" [class.active]="filter === 'done'">Done</button>
  </div>

<ul class="items">
  <li *ngFor="let item of FilterItems()"
      (click)="OnSelected(item)" [class.selected]="item === selectedItem"
      (dblclick)="OnDoubleClick(item)" [class.completed]="item.status === TaskStatus.Done"
  >
    <!--{{item.id}} :--> {{item.name}}

  </li>
</ul>

<button (click)="AddItem()" class="add-button">Add Item</button>
</div>



<!--
<div *ngIf="items.length>0">
  {{items.length}} {{items.length == 1 ? 'item' : 'items}}
</div>

<div [ngSwitch]="car">
  <p *ngSwitchCase="'Audi'">Это Ауди</p>
  <p *ngSwitchCase="'BMW'">Это БМВ></p>
  <p *ngSwitchDefault>Это неизвестная машина</p>
</div>

-->
